NODE_ENV=production
PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/hacklpu
MONGODB_DATABASE=hacklpu
RAZORPAY_KEY_ID=rzp_test_Si7SjKIL1gbktF
RAZORPAY_KEY_SECRET=yNQl41XMUdpQ1g9uFcwvyl8u
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
ALLOWED_ORIGINS=http://localhost:3001
